<%- include('../partials/boilerplate') %>
<%- include('../partials/nav') %>
<div>
    <h3>Upcoming Week</h3>
    <div>7 Day Calendar View</div>
    <div>Planned Events Table View</div>
</div>
<%- include('../partials/end') %>