<nav>

        <div class="username"><a id="profilenav" href="/user/<%= userNav.id %>"><%= userNav.username %></a></div>
        <div class="nav-items">
            <div><a id="eventsnav" href="/events">Events</a></div>
            <div><a id="usersnav" href="/user">Users</a></div>
        </div>

</nav>