<nav>
    <div class="username"><a href="/user/<%= user.id %>"><%= user.username %></a></div>
    <div class="nav-items">
        <a href="/events"><div>Events</div></a>
        <a href="/user"><div>Users</div></a>
    </div>
</nav>