<nav>

        <div class="username"><a href="/user/<%= userNav.id %>"><%= userNav.username %></a></div>
        <div class="nav-items">
            <a href="/events"><div>Events</div></a>
            <a href="/user"><div>Users</div></a>
        </div>

</nav>