<%- include('./partials/boilerplate') %>
<div class="pre-log-container">
    <h1>Welcome...</h1>
    <div class="pre-log-buttons">
        <div><a href="/auth/login"><button>Login</button></a></div>
        <div><a href="/user/new"><button>Register</button></a></div>
    </div>
</div>
<%- include('./partials/end') %>