<%- include('./partials/boilerplate') %>
<h1>Welcome...</h1>
<div>
    <div><a href="/auth/login"><button>Login</button></a></div>
    <div><a href="/user/new"><button>Register</button></a></div>
</div>
<%- include('./partials/end') %>