<%- include('./partials/boilerplate') %>
<h1>Welcome...</h1>
<div>
    <ul>
        <li><a href="/auth/login"><button>Login</button></a></li>
        <li><a href="/user/new"><button>Register</button></a></li>
    </ul>
</div>
<%- include('./partials/end') %>